name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test
      continue-on-error: true
    - name: Generate Allure Report 
      run: npm run generate_report
    - name: Upload artifacts HTML
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
    - name: Upload artifacts Allure report
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}    
      with:
        name: allure-report
        path: allure-report
        retention-days: 30
    - name: GitHub Pages action
  # You may pin to the exact commit or the version.
  # uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
      uses: peaceiris/actions-gh-pages@v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN}}
        publish_dir: allure-report
   
